.nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-inline: var(--padding);
    align-items: center;
    width: 100%;
    height: 42px;
    background-color: var(--cl-prim);
    border-bottom: 1px solid var(--cl-border);
    font-weight: 800;
}

.logo {
    display: flex;
    gap: 0.25rem;
    background-color: var(--c1);
    height: 100%;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    border-inline: 1px solid var(--cl-border);
    color: var(--c2);
}

.back {
    text-decoration: none;
}

.nav p {
    font-weight: 800;
    font-size: 1.5rem;
}

.nav p:nth-of-type(1) {
    rotate: 180deg;
}

.nav p:nth-of-type(2) {
    rotate: 180deg;
}