.hero {
    padding: var(--padding);
    padding-top: calc(var(--padding) + 42px);
    height: calc(100svh);
    display: flex;
    margin-inline: 1px;
    background-color: var(--cl-prim);
    position: relative;
            position: relative;
}

/* .hero::before {
    content: "";
    width: var(--padding);
    height: 1px;
    background-color: var(--cl-border);
    position: absolute;
    bottom: -1px;
    left: -2rem;
}
.hero::after {
    content: "";
    width: var(--padding);
    height: 1px;
    background-color: var(--cl-border);
    position: absolute;
    bottom: -1px;
    right: -2rem;
} */

.hero .con_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: red;
    overflow: hidden;
}
.hero svg {
    width: 60px;
    height: 60px;
}
.hero svg path {
    fill: var(--cl3);
}

.btm {
    margin-bottom: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btm h1 {
    font-size: clamp(2rem, 10vw, 4.5rem);
    text-transform: capitalize;
    color: var(--t1);
    font-weight: 800;
    font-family: var(--f1);
    word-spacing: 0rem;
    align-self: flex-end;
}

.btm button {
    width: 7rem;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 1px solid var(--cl-border);
    border-radius: 50%;
    margin-right: var(--padding);
}
